- hosts: all
  become: true
  tasks:
    - name: Membuat user 
      user:
        name: mahe
        groups: sudo
        state: present
        shell: /bin/bash
        system: no
        createhome: yes
        home: /home/mahe

    - name: Copy SSH public key ke remote host 
      authorized_key:
        user: mahe
        key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"  
        state: present

    - name: Change PasswordAuthentication  #bisa opsional
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'  
        state: present
      notify:
        - Restart SSH

  handlers:
    - name: Restart SSH
      service:
        name: sshd
        state: restarted
 
